body {
  margin-top: 60px; 
  font-family: 'Luckiest Guy', cursive;
 
}

.navbar-brand {
  font-family: 'Luckiest Guy', cursive;
}

.container{
  margin-top: 5rem;
}

h1 {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  color: red;
}


.pokemon-list {
    list-style-type: none;
}

.modal-body {
  text-align: center;
}


button {
    background-color: #8bc4cd; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition: background-color 0.3s ease;   
  }

  