body {
  margin-top: 60px; /* adjusted for fixed navbar */
 
}

.container{
  margin-top: 5rem;
}

h1 {
  text-align: center;
}


.pokemon-list {
    list-style-type: none;
}

.modal-body {
  text-align: center;
}


button {
    background-color: #8bc4cd; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition: background-color 0.3s ease;   
  }

/*
  #modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
    -- to show it above other content 
    z-index: 999; 
    
    -- to allow scrolling if the screen is not high enough
    overflow: auto; 
    
   -- this is used to center the modal 
    display: grid;
    text-align: center;
  }
  
  
  .modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
  }
  */
  